@font-face {
  font-family: 'Cabin Sketch';
  src: url('../fonts/CabinSketch-Regular.ttf');
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('../fonts/YanoneKaffeesatz-Bold.ttf');
}
body {
  margin: 0;
  background: rgb(128, 127, 127);
}

.cabecalho {
  display: flex;
  background: url('http://subtlepatterns.com/patterns/ricepaper.png');
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 3px #19161a;
}

.logo h1 {
  font-size: 50px;
  color: #19161a;
  font-family: 'Cabin Sketch';
  font-weight: 300;
  margin-left: 20px;
  margin-bottom: 20px;
}
.autenticacao {
  height: 90px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}

.autenticacao a {
  text-decoration: none;
}

.login {
  padding-top: 20px;
}

.loginButton {
  border: none;
  background: none;
  color: #19161a;
  font-size: 25px;
  font-family: 'Yanone Kaffeesatz';
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
}

.dropdown-content {
  display: none;
}

.show {
  z-index: 90000;
  background-image: url('http://subtlepatterns.com/patterns/ricepaper.png');
  display: block;
  position: absolute;
  margin-top: 50px;
  right: 90px;
  border-radius: 15px;
  padding: 10px 20px;
  box-shadow: 0px 9px 25px rgba(0, 0, 0, 0.7);
}

.show input {
  font-size: 20px;
}

.show label {
  display: block;
  font-size: 20px;
  font-family: 'Yanone Kaffeesatz';
  margin-top: 10px;
}

.sendLogButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Yanone Kaffeesatz';
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 11px 0px 5px 0px;
  width: 150px;
  border-radius: 10px;
  background-color: rgba(219, 87, 5, 1);
  color: #fff;
  cursor: pointer;
  margin: 20px auto 0px auto;
}

.link_register {
  font-family: 'Yanone Kaffeesatz';
  font-size: 20px;
  margin-top: 30px;
}
